PORT=5000
FIREBASE_PROJECT_ID=news-9d3d2
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
VAPID_PUBLIC_KEY=BKBTBHQ3gY41vwxe5d5BAqEAGhMOrt9KKYO41-t8BW9gVWPOfH8WDnY0SVsx9hR03njGyiUeJ9DtgibOK8rZD5o
VAPID_PRIVATE_KEY=nDvL2JR4D8u8BnjmfIVEo5iRG1droFQ7cEQMCYwIulM
VAPID_EMAIL=mailto:test@test.com
